*{
	box-sizing: border-box;
}

body{
	font-family: Arial;
	margin:0;
}

.h{
	padding: 60px;
	text-align: center;
	background: #634d3d;
	color: white;
}

.n{
	display: flex;
	background-color: #333;
}

.n a{
	color:white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.n a:hover{
	background-color: #ddd;
	color: black;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.side{
	flex:30%;
	background-color: #f1f1f1;
	padding: 20px;

}

.main{
	flex: 70%;
	background-color: white;
	padding: 20px;
}

.f img{
	background-color: #aaa;
	padding: 0px;
}

.footer {
    margin-top: auto; 
    padding: 20px;
    text-align: center;
    background-color: #634d3d;
}
@media screen and (max-width: 700px){
	.row, .navbar{
		flex-direction: column;
	}
}

.f{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}